@font-face {
  font-family: Futura-Condensed;
  src: url(/font/Futura-Condensed.otf); }

body {
  background-color: #000000; }

.customCards .card:hover img {
  opacity: 0.9; }

.customCards .card:hover .card-overlay {
  opacity: .6; }

.customCards .card {
  border: none; }
  .customCards .card img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden; }
  .customCards .card .card-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
    .customCards .card .card-overlay .overlay-text {
      background-color: #000000;
      color: #ffffff;
      font-family: Futura-Condensed;
      font-size: 20px;
      padding: 16px 32px;
      height: 100%;
      width: 100%; }

#menuIcon {
  display: inline-block;
  top: 5px;
  left: 5px;
  text-align: center;
  height: 40px;
  width: 40px;
  background-color: #000000;
  position: absolute;
  z-index: 10;
  opacity: .5;
  border: 2px solid #000000; }
  #menuIcon a {
    color: #ffffff;
    vertical-align: middle; }
  #menuIcon i {
    font-size: 24px;
    vertical-align: middle;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

#menuIcon .fa:hover {
  background-color: transparent;
  transform: scale(1.25); }

body .sidebar-nav > #sidebar-brand {
  height: 130px;
  margin-bottom: 20px;
  transition: padding 0.2s ease-in-out; }

#sidebar-wrapper .sidebar-nav {
  top: 120px;
  display: none; }
  #sidebar-wrapper .sidebar-nav li a {
    color: #ffffff; }

body #page-content-wrapper {
  padding: 0; }

body #sidebar-wrapper {
  padding: 0 !important;
  background: #000000; }

body .container-fluid {
  padding: 0 !important; }

.iconContainer {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-left: 40px; }
  .iconContainer a {
    color: #ffffff;
    text-decoration: none; }
  .iconContainer .fa {
    padding-right: 10px;
    font-size: 26px; }

@media (min-width: 768px) {
  body #page-content-wrapper {
    padding: 0 !important;
    position: relative; } }

body #sidebar-wrapper {
  width: 100px; }

body #page-content-wrapper {
  left: 100px; }

body .toggled #page-content-wrapper {
  left: 0; }

body .toggled div#sidebar-brand {
  padding-left: 20px; }

body .toggled #sidebar-wrapper ul.sidebar-nav {
  display: block; }

@media (max-width: 768px) {
  body .toggled #page-content-wrapper {
    left: 250px; } }
