// Main Sass File
@font-face {
    font-family: Futura-Condensed;
    src: url(/font/Futura-Condensed.otf);
    }
$mainBlack: #000000;
$mainFontWhite: #ffffff;

.customCards{
    .card:hover img {
        opacity: 0.9;
    }
    .card:hover .card-overlay {
        opacity: .6;
    }
    //BS override
    .card{
        border: none;
        img{
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .card-overlay {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 80%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            .overlay-text {
                background-color:#000000;
                color:#ffffff;
                font-family: Futura-Condensed;
                font-size: 20px;
                padding: 16px 32px;
                height: 100%;
                width: 100%;
            }
        }
    }
}

#menuIcon {
    display: inline-block;
    top: 5px;
    left: 5px;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color:#000000;
    position: absolute;
    z-index: 10;
    opacity: .5;
    border: 2px solid black;
        a{
            color: $mainFontWhite;
            vertical-align: middle;
        }
        i {
            font-size: 24px;
            vertical-align: middle;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
}
#menuIcon .fa:hover {
    background-color: transparent;
    transform: scale(1.25);
}
//sideBar Custom CSS
body .sidebar-nav>.sidebar-brand {
    height: 130px;
    margin-bottom: 20px;
}
#sidebar-wrapper .sidebar-nav {
    li {
        a {
            color: $mainFontWhite;
        }
    }
}
body #page-content-wrapper {
    padding: 0;
}
body #sidebar-wrapper {
    padding: 0 !important;
    background: $mainBlack;
}
body .container-fluid {
    padding: 0 !important;
}
.iconContainer {
    color: $mainFontWhite;
    position: absolute;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 40px;
    a {
        color: $mainFontWhite;
        text-decoration: none;
    }
    .fa {
        padding-right: 10px;
        font-size: 26px;
    }
}

@media(min-width:768px) {
    body #page-content-wrapper {
      padding: 0 !important;
      position: relative;
    }
}